@import "@/styles/constants.scss";
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: transparent;
  width: 100vw;
  padding: 35px 0;
  transition: all 0.3s ease-out;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 70px;
  }
  &__logo {
    max-width: 136px;
    max-height: 109px;
    cursor: pointer;
  }

  &__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 50px;
    &_item {
      cursor: pointer;
      text-transform: uppercase;
      color: $primary-color;
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      transition: all 0.3s ease-out;
      font-size: 16px;
      font-weight: 600;

      &:hover {
        color: $accent-color-yellow;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  &__theme {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
    & > * {
      cursor: pointer;
    }

    .toggle {
      font-size: 17px;
      position: relative;
      display: inline-block;
      width: 48px;
      height: 24px;
      margin-bottom: 0;
      border-radius: 23px;
      transition: 0.5s;
      background: linear-gradient(127deg, #505050, #383838);
      &::before {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        border-radius: 50%;
        left: 1px;
        bottom: 1px;
        padding: 4px;
        transition: 0.5s;
        box-shadow: inset -8px -4px 0 0 #fff;
      }
      &.active {
        &::before {
          transform: translateX(24px);
          box-shadow: inset 15px -4px 0 15px #fff;
          background: #fff;
        }
      }
    }
  }

  &__button {
    font-weight: 800;
    font-size: 16px;
    color: $secondary-color;
    background-color: $primary-color;
    padding: 15px 30px !important;
    border: none;
  }
  &__locales {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 10px;
    & > * {
      cursor: pointer;
    }
  }
}
